[MAIN]
ignore=
    .venv,
    build,
    dist

disable=
    import-error,
    too-few-public-methods,
    broad-exception-caught,
    too-many-instance-attributes,
    too-many-locals,
    too-many-statements,
    too-many-branches,
    too-many-arguments,
    too-many-positional-arguments,
    unsupported-binary-operation,
    unknown-option-value

[FORMAT]
max-line-length=120
